.bid-input  {
	width: 100px; 
	display: inline;
}

.next-prev-nav {
	display: inline;
}

.next-prev-nav-item {
	float: right;
}


.search-input {
	height: 30px;
	width: 150px;
	display: inline;
}

.auction-nav-bar {
	margin-left: -30px;
	margin-right: -28px;
}

.sort-select {
	height: 30px;
	width: 150px;
	display: inline;
}

.auction-input {
	display: inline;
	float: right;
}

.my-alert-success {
	width: 110px;
	float: right;	
}
